/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     background-color: #f0efef;
     font-size: 12px;
     line-height: 1.4;
     font-family: "Open Sans" sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/



aside {
  width: 240px;
  float: right;
  margin-right: 200px;
}

main {
  width: 700px;
  float: left;
  margin-left: 100px;
  margin-right: 20px;
}


li > a {
  color: #f9e42e;
  text-decoration: none;
  display: inline-block;

}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/** SECTION STYLING **/

section {
  border-bottom: 1px solid black;
}

section  h2, aside {
  color: #033048;
}

section  h2 {
  font-weight: 600;
  font-size: 40px;
}

.post  p, section > a {
  font-weight: 300;
  font-size: 24px;
}

.post  p {
  padding-bottom: 50px;
  line-height: 1.5;
  color: #121212;
}

.read_more {
  font-weight: 600;
  float: right;
  text-decoration: none;
  padding-bottom: 20px;
  color: #033048;
}

/** HEADER STYLING **/ 

header {
  background-color: #033048;
  color: #f9e42e;
  overflow: hidden;
}

header h1 {
  font-size: 36px;
  font-weight: semi-bold;
  color: #f0efef;
  padding: 10px 40px;
  margin-left: 20px;
  width: 30%;
  float: left;
}

header nav ul {
  margin-top: 30px;
  margin-right: 100px;
  width: 50%;
  float: right;
}

header nav li {
  display: inline;
  float: right;
  padding: 20px 15px;
}

header nav li a {
  color: #f9e42e;
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
}


/** ASIDE STYLING **/ 

aside h2{
  color: #033048;
  font-size: 32px;
  font-weight: bolder;
}

aside li{
  color: #033048;
  list-style: none;
  font-size: 24px;
  font-weight: lighter;
}

aside p{
  color: #033048;
  font-weight: lighter;
  font-size: 22px;
}

aside a{
  color: #033048;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

aside img {
  padding-top: 40px;
}

.categories {
  margin-left: -35px;
}

/*is there a better way to get the ul to align
with the rest of the aside column without adding in 
negative margins? */

/** FOOTER STYLING **/


footer {
  clear: both;
  /*margin-top: 100px;*/
  height: 100px;
  text-align: center;

}

.yellow {
  background-color: #f9e42e;
  height: 100px;
  text-align: center;
   /* margin-top: 50px */
}


.yellow a {
  font-weight: 800;
  padding: 5px 30px 0px 30px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #033048;
  border-radius: 10px;

}

/*I have no idea what is going on with this button and section.
The element is extending beyond the top of the element. Even if 
I add 50px of top margin, when I inspect I see that the margin
is being applied, but it is slipped underneath the element above it.
I admittedly was supposed to zip thise and send it to Cara last week,
but forgot. Any thoughts? */

.black_footer {
  background-color: #121212;
}
footer h2 {
  margin: 0 auto;
  color: white;

}

.icons img{
  margin: 0 auto;
  padding-right: 3px;


}

footer p {
  color: white;
  font-size: 16px;
  font-weight: 300;
}



